* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.markdown_root {
  padding:10px;
  .markdown_content {
    padding:18px;
    background:white;
    li {
      display:block;
      &:before {
        display:inline-block;
        content:'';
        width:4px;
        height:4px;
        border-radius:6px;
        background:black;
        margin:0 6px 3px 0;
        vertical-align:middle;
      }
    }
  }
}
